/* Modo claro */
:root {
    --md-primary-fg-color: #310032; /* Roxo para modo claro */
    --md-accent-fg-color: #fa7c34; /* Laranja */
    --md-default-bg-color: #FFFFFF;
    --md-default-fg-color: #000000;
  }
  
  /* Modo escuro */
  [data-md-color-scheme="slate"] {
    --md-primary-fg-color: #210049; /* Roxo claro */
    --md-accent-fg-color: #782e00; /* Verde claro */
    --md-default-bg-color: #3e3e3e;
    --md-default-fg-color: #FFFFFF;
  }
  